/*! 3-layouts/_archive.scss */

body.archive {

  .page-title {
    font-family: $sans-serif;
    font-size: .8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 5em;
      border-bottom: 2px solid orange;
      margin: 1em auto;
    }
  }

}
