/*! 3-layouts/_back-to-top.scss */

a.back-to-top {
  background: none;
  margin: 0;
  position: fixed;

  bottom: 8vh;
  right: 2%;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: transparentize($medium-gray, 0.3);
}

.back-to-top i {
  font-size: 50px;
}
