/*! scss/3-layouts/_home.scss */

  header {

    section.callout {
      width: 100%;
      position: absolute;
      top: 40%;

      div {
        background: transparentize(white, 0.6);
        width: 60%;
        margin: 0 auto;
        @include padding(1em 1em 1em 1em);
        border-radius: $base-border-radius;
        border: 1px solid transparentize(black, 0.7);

        p {
          color: shade($dark-gray, 15%);
          text-shadow: 1px 1px tint($dark-gray, 55%);
        }

        .quote {
          font-size: $base-font-size * 1.2;

        }
        .author {
          text-align: right;
          margin-bottom: 0;
        }
        .author:before {
          content:"\2013  ";
        }
      } // section.callout > div
    }  // section.callout
  } // header
  //<< END: header

  // main content >>
  main.home {
    background: $light-gray;
    margin-bottom: 200px;
    border-bottom: 1px solid shade(white, 70%);
    @include omega();

    article {
      border-bottom: 0;

      div.article-content:first-child{
        @include padding(1em null null null);
      }

      div.article-content {
        @include outer-container;

        section {
          .home-featured-image {
            height: 260px;
            width: 260px;
            float: left;
            margin: 0 1em .5em 0;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid #ccc;
            border-radius: 3px;
          }

          .not-set {
            height: 75px;
            width: 75px;
            border: none;
          }
        }

        aside {
          @include span-columns(4 of 12);
          @include omega;

          @include media(min-width 320px max-width 720px) {
            @include span-columns(12);
          }

          .entry-meta,
          .entry-footer span {
            padding-bottom: 0.5em;
            line-height: 1.3;
          }

          .modified-on {
            display: block;
            padding-top: 0.5em;
            line-height: 1.3;
          }
        }

      }// div.article-content

    }// article

    article:last-child {
      @include padding(null null 1em null);
    }



    // welcome
    #welcome {
      // weather widget
      #weather {
        position: relative;
        //margin-bottom: 25px;

        section {
          border-right: none;
        }

        span {
          display: block;
          margin: 7px 0;
        }
        img {
          margin: 0 auto;
          opacity: 0.05;
          position: absolute;
          top: -50px;
        }
      }


    }

    // culinaria
    #culinary {
      .accordion-tabs {

        p {
          @include span-columns(12);
        }

        @include media(min-width 320px max-width 900px) {
          @include span-columns(12);
        }
      }

      .article-content {
        @include media(min-width 320px max-width 900px) {
          width: 100%;
        }
      }

      .tab-link {
        color: $blue;
      }
      .tab-link:hover {
        color: black;
      }
      .is-active {
        color: $base-font-color;
      }
      .tab-content {
        position: relative;

        img {
          position: absolute;
          left: 10%;
          bottom: 10%;
          width: 80%;
          height: auto;
          opacity: 0.1;
        }
      }
    }

  } // main
  //<< END: main

// override Bourbon span-columns
#primary main.home article .entry-footer span {
  float: left;
  display: block;
  margin-right: 0;
  width: 100%;
}

// test-fill
  .test-fill {
  background-color: transparentize(pink, 0.7);
}
