/*! 3-layouts/_index.scss */

#content {
  background-color: $light-gray;
  margin-bottom: 200px;
  border-bottom: 1px solid shade(white, 70%);

}

#primary{
  @include outer-container;


  main {
    @include padding(1em 1em 1em 1em);
    border-bottom: none;


    article {
      @include span-columns(12);
      @include padding(null null 1.5em null);
      @include margin(null null 1.5em null);
      @include border-width(null null 1px null);
      @include border-color(null null tint($medium-gray, 50%) null);
      @include border-style(null null solid null);
      overflow-x: auto;


      .entry-footer{
        @include span-columns(8);

        span{
          @include span-columns(4 of 8);
        }
      }

      .gallery-row {
        margin: 0 auto;
      }
    }

    article:last-child {
      border-bottom: 0;
      margin-bottom: 1em;
      padding-bottom: 1em;
    }

    .sticky {
      // sticky post styles
    }
  }
}
