
div#primary{
    background-color: $light-gray;

  main{
    @include outer-container;
    @include padding(1em null null null);
    border-bottom: none;

    article{
      @include span-columns(12);
      @include padding(null null 1em null);
      @include margin(null null 1em null);
      @include border-width(null null 3px null);
      @include border-color(null null tint($medium-gray, 50%) null);
      @include border-style(null null solid null);

      @include media(min-width 320px max-width 900px) {
        @include span-columns(12);
        //border: none;
      }

      .entry-footer{
        @include span-columns(8);

        span{
          @include span-columns(4 of 8);
        }
      }

      .gallery-row {
        margin: 0 auto;
      }
    }
    .sticky {
      // sticky post styles
    }
  }
}
