/*! home.scss */
// body >>
body.home {
  position: relative;
  min-width: 320px;

  // header >>
  header {

    section.callout {
      width: 100%;
      position: absolute;
      top: 40%;


      div {
        background: transparentize(white, 0.6);
        width: 60%;
        margin: 0 auto;
        @include padding(1em 1em 1em 1em);
        border-radius: $base-border-radius;
        border: 1px solid transparentize(black, 0.7);

        p {
          color: shade($dark-gray, 15%);
          text-shadow: 1px 1px tint($dark-gray, 55%);
        }

        .quote {
          font-size: $base-font-size * 1.2;

        }
        .author {
          text-align: right;
          margin-bottom: 0;
        }
        .author:before {
          content:"\2013  ";
        }
      } // section.callout > div
    }  // section.callout
  } // header
  //<< END: header

  // main content >>
  main {
    background: $light-gray;
    margin-bottom: 200px;
    border-bottom: 1px solid shade(white, 70%);
    //padding-top: 2%;

    article {
      @include padding(1em 1em 1em 1em);

      div.article-content {
        @include outer-container;
        @include padding(1em null null null);

        section {
          @include span-columns(8 of 12);
          @include padding(null 2em null null);
          @include border-width(null 3px null);
          @include border-color(null tint($medium-gray, 50%) null null);
          @include border-style(null solid null null);

          @include media(min-width 320px max-width 900px) {
            @include span-columns(12);
            border: none;
          }
        }

        aside {
          @include span-columns(4 of 12);

          @include media(min-width 320px max-width 900px) {
            @include span-columns(12);
          }

          div:nth-child(3) {
            @include span-columns(6);
            @include shift(4);
            padding: 20px 0;
          }
        }

      }// div.article-content
    }// article

    // welcome
    #welcome {
      // weather widget
      #weather {
        position: relative;
        //margin-bottom: 25px;

        section {
          border-right: none;
        }

        span {
          display: block;
          margin: 7px 0;
        }
        img {
          margin: 0 auto;
          opacity: 0.05;
          position: absolute;
          top: -50px;
        }
      }


    }

    // culinaria
    #culinary {
      .accordion-tabs {
        @include media(min-width 320px max-width 900px) {
          @include span-columns(12);
        }
      }

      p {
        @include span-columns(12);

        @include media(min-width 320px max-width 900px) {
          @include span-columns(12);
        }
      } //p:nth-child(2)

      .article-content {
        @include media(min-width 320px max-width 900px) {
          width: 100%;
        }
      }

      .tab-link {
        color: $blue;
      }
      .tab-link:hover {
        color: black;
      }
      .is-active {
        color: $base-font-color;
      }

    }

    // contact form
    #contacts{

      div {
      padding-bottom: 1em;

        section {
          border: none;
          @include span-columns(12);

          #errors, #loading {
            display: none;
          }
          #errors li:before {
              content: ' - ';
          }
          #errors #info:before {
              content: '';
          }

          input, textarea{
            background: {
              color: #F7F7F7;
            }
          }

          #contactInfo  {
            @include span-columns(12);
            padding-bottom: 0;

            div {
              @include span-columns(6 of 12);
              input {
                width: 100%;
              }
              padding-bottom: 0;
            }
          } // #contactInfo

          textarea {
            height: 100px;
          }

          #success{
            display: none;
          }

          #submit-button {
            color: $base-font-color;
            background-color: $blue;
          }

          #submit-button:hover {
            color: $light-gray;
          }
        } // section

        aside {
          border: none;
          div{
            padding-top: 5%;
            img {
              display: block;
              width: 35%;
              margin: 0 auto;
            }
          }
        } // aside

      } // div.article-content
    } // #contacts

  } // main
  //<< END: main

  // footer >>
  footer {
    position: fixed;
    width: 100%;
    height: 200px;
    padding-top: 1px;
    color: $medium-gray;
    text-shadow: 1px 1px rgba($dark-gray, 0.6);
    $bg1: transparentize(black, 0.3);
    $bg2: transparentize(white, 0.5);
    @include texture($bg1, $bg2, 85, 1);
    bottom: 0;
    z-index: -3;

    .footer-container {
      @include outer-container;
      @include padding(1% 2.5% null 2.5%);

      .sociocon {
        @include span-columns(4 of 12);
        @include omega(3n);
        height: 120px;
        margin-bottom: 0.8em;

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          margin: 0 auto;
        } // img
      } // .sociocon

      p {
        text-align: center;
      }
    } // .footer-container
  } // footer
  //<< END: footer

  // back-to-top button >>
  .back-to-top {
    background: none;
    margin: 0;
    position: fixed;

    bottom: 50vh;
    right: 2%;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: transparentize($medium-gray, 0.3);
  }

  .back-to-top i {
    font-size: 50px;
  }
  //<< END: back-to-top button

}
//<< END: body

// test-fill
  .test-fill {
  background-color: transparentize(pink, 0.7);
}
