/*! 3-layouts/_single.scss */

#main {
  min-height: 100vh;
}

.post-thumbnail {
  @include span-columns(8 of 12);
  margin-bottom: 1.4em;
  height: 100%;

  img {
    //display: inline-flex;
    top: 0;
  }
}
