/*! 3-layouts/_single.scss */

.single-post {

  #main {
    min-height: 100vh;

    article {
      margin-bottom: 0;
    }
  }

  .post-thumbnail {
    margin-bottom: 1.4em;
  }

  .post-navigation {
    display: inline-block;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1.5em;
    background: $light-gray;

    .nav-links {
      font-size: 1em;

      ::before,
      ::after {
        font-family: $sans-serif;
        font-weight: 700;
      }

      :hover {
        color: $action-color;
      }
      .nav-previous {
        @include span-columns(8 of 8);
          margin-bottom: .75em;

        @include media(600px){
          @include span-columns(4 of 8);
        }

        &::before {
          content: "Previous Post :: ";
        }
      }

      .nav-next{
        @include span-columns(8 of 8);
        @include media(600px){
          @include span-columns(4 of 8);
        }

        &::before {
          content: "Next Post :: ";
        }
      }
    }
  }
}
