.vertical-tabs-container {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $base-font-color: $dark-gray !default;
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;
  $tab-content-background: lighten($tab-border-color, 10%);
  $tab-active-color: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $vertical-tabs-height: 18.75em;
  $vertical-tab-mode: $medium-screen;

  @include clearfix;
  border: $tab-border;
  border-radius: $tab-border-radius;
  margin-bottom: $base-spacing;
  overflow: hidden;
  width: 100%;

  li {
    list-style: none;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  .vertical-tabs {
    display: none;

    @include media($vertical-tab-mode) {
      @include span-columns(2 of 8);
      @include omega;
      display: inline;
      float: left;
      height: $vertical-tabs-height;
      border-right: 1px solid #ccc;
    }

  }

  .vertical-tab {
    @include media($vertical-tab-mode) {
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: ($base-spacing / 2) ($gutter / 2);
      border: 1px solid $light-gray;
      border-radius: 2px;
      margin-right: -2px;

      &.is-active,
      &:hover {
        background: $tab-content-background;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-right: -2px;
        color: $action-color;
      }
    }
  }

  a.vertical-tab-accordion-heading,
  a.vertical-tab {
    color: $dark-gray;

    &.is-active {
      color: $dark-gray;
    }

    @include media (max-width 599px){
      color: $light-gray;
    }
  }

  .vertical-tab:focus {
    outline: none;
  }

  .vertical-tab-content-container {
    display: block;
    padding: 1em;
    @include border-color(#ccc #ccc #ccc null );
    @include border-width(1px 1px 1px null);
    @include border-style(solid solid solid null );
    @include border-right-radius(3px);
    border-bottom-left-radius: 3px;


    & a:focus {
      outline: none;
    }

    @include media($vertical-tab-mode) {
      @include span-columns(6 of 8);
      @include omega;
      height: $vertical-tabs-height;
      background-color: $tab-content-background;
      display: inline-block;
    }

    @include media (max-width 599px){
      border: none;
    }

  }

  .vertical-tab-content {
    position: relative;

    .culinaria-feed-container {
      @include span-columns(3, table);
      margin: 0 .4em;
      padding: .5em .5em 0 .5em;
      font-size: .8em;
      text-align: center;
      position: relative;

      @include media (max-width 375px){
        @include span-columns(12);
        padding: 0;
        margin: 0;
      }

      @include media (max-width 599px){
        background: $tab-content-background;
      }

      .image-container {
        min-height: 185px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #ccc;
        border-radius: 2px;

        @include media (max-width 375px){
          border: none;
        }
      }
    }

    // do not display extra feeds
    .culinaria-feed-container:nth-child(4),
    .culinaria-feed-container:nth-child(5){
      display: none;
    }
  }

  .vertical-tab-accordion-heading {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: $base-spacing / 2 $gutter / 2;

    &:focus,
    &:hover {
      color: $action-color;
    }

    &:first-child {
      border-top: 0;
    }

    &.is-active {
      background: $tab-active-color;
      border-bottom: 0;
    }

    @include media($vertical-tab-mode) {
      display: none;
    }
  }
}
