.container-forecast {
  @include span-columns(12);
  height: 250px;

  figure:not(.no-border),
  img:not(.no-border) {
    border: none !important;
  }

  .container-currently {
    @include span-columns(4);
    @include shift(4);
    height: 250px;

    @include media($tab){
      @include shift(0);
    }

    .container-icon-temp {
      display: flex !important;
      flex-direction: row;
      overflow: visible !important;;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;

      .icon-current {
        height: 75px;
        min-width: 75px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 1em;
      }
    }

    .container-icon-temp:after {
      border: none !important;
    }

    .temp-current {
      padding-top: 10px;
      font-size: 3em;
    }

    .container-summary-wind {
      display: block;
      width: 100%;
      text-align: center;
    }

    .summary-current {
      font-weight: bold;
    }

  }
  // .container-currently

  .container-daily {
    @include span-columns(8);
    display: none;
    height: 250px;

    @include media($tab){
      display: block;
    };

    .daily-day {
      @include span-columns(1 of 8);
      min-width: 20px;

      h4 {
        margin-bottom: 0;
        text-align: center;
      }

      .icon-daily {
        flex-grow: 0;
        margin: .3em 0;

        img {
          height: 1.5em;
          min-width: 1.5em;
          margin: 0 auto;
        }
      }

      div {
        display: block;
        margin: 0 auto;
        width: 1em !important;
        border-radius: .5em;
      }

      .temp-daily {
        display: block;
        text-align: center;
        font-size: .8em;
      }

    }
    //.daily-day
  }
  // .container-daily

}
// .container-forecast
