/*! --- BEGIN SC-WEATHER CSS --- */

$sc-shadow: drop-shadow(1px 1px 0px rgba(171,171,171,.95));
$sc-invert: invert(33%);

//WIDGET
section.container-forecast {
  color: #555;
  display: flex;
  flex-flow: row wrap;
  font-family: $sans-serif;
  -webkit-filter: $sc-shadow;
  filter: $sc-shadow;

  header.sc-weather-header {
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    border-bottom: 2px solid #555;
    padding: 0 .5em .1em;
    margin-bottom: 1em;

    span {}
    a {
      margin-left: auto;
      font-size: .7em;
    }
  }

  div.container-currently {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 200px;

    article.container-icon-temp {
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      max-width: 250px;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;

      &:after{
        display: none !important;
      }

      div.icon-current{
        flex: 1 50%;
        padding: 0 .5em 0 1em;
        -webkit-filter: $sc-invert;
        filter: $sc-invert;

      }

      div.temp-current {
        flex: 1 50%;
        font-size: 3.5em;
        line-height: 1em;
        font-weight: 700;
      }
    }
    article.container-summary-wind {
      flex: 1 auto;
      text-align: center;
      max-width: 250px;
      margin: 0 auto;
    }

    div.summary-current {
      font-weight: 700;
    }

  }
  // END .container-currently

  div.container-daily {
    display: none;
    width: 60%;
    margin-left: auto;

    @include media ($tab) {
      display: flex;
    };

    div.daily-day {
      flex-direction: column;
      flex-grow: 1;
      text-align: center;

      h4 {
        margin: 0 auto .5em auto;
      }

      div.icon-daily{
        margin-bottom: .5em;

        img {
          max-height: 2em;
          margin: 0 auto;
          -webkit-filter: $sc-invert;
          filter: $sc-invert;

        }
      }

      div.temp-daily-container {
        position: absolute;
        margin-top: 4.5em;
        padding: 0 1.6em;

        div.temp-graph{
          margin: 0 auto;
          margin-left: 2px;
          border-radius: 3em;
          background-color: $base-font-color;
          -webkit-filter: $sc-invert;
          filter: $sc-invert;

        }
        span.min.daily-temp{}
      }
    }
  }
  // END .container-daily
}
// END section.container-forecast
// END WIDGET

/*! --- END SC-WEATHER CSS --- */
