button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

#{$all-buttons} {
  background-color: $light-gray;
  transition-delay: 0;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: linear;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: $base-font-color;
  font-weight: normal;

  &:hover {
    background-color: orange;
    color: $base-font-color;
  }
}
