/*! primary/_footer.scss */

footer#colophon {
  width: 100%;
  height: 200px;
  padding-top: 1px;
  color: $medium-gray;
  text-shadow: 1px 1px rgba($dark-gray, 0.6);
  $bg1: transparentize(black, 0.3);
  $bg2: transparentize(white, 0.5);
  @include texture($bg1, $bg2, 85, 1);

  @include media(600px){
    position: fixed;
    bottom: 0;
    -webkit-transform: translate3d(0,0,-3px);
    transform: translate3d(0,0,-3px);
    z-index: -3;
  };

  .footer-container {
    @include outer-container;
    @include padding(0 2.5% 0 2.5%);

    .sociocon {
      @include span-columns(4 of 12);
      @include padding(1% 0 0 0);
      @include omega(3n);
      height: 120px;
      margin-bottom: 0.8em;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;

        &.icon{
          animation-duration:.75s;
        }
      } // img

      @include media(max-width 480px) {
        height: 90px;
      }
    } // .sociocon
    .sc-copyright {
      @include span-columns(12 of 12);
      @include media(max-width 480px) {
        margin-top: -.5em;
      }

      p {
        font-family: $sans-serif;
        text-align: center;
        color: $light-gray;
      }

    }
  } // .footer-container
} // footer
//<< END: footer
