/*! 3-layouts/_single.scss */

.single-post {

  .site-main {
    min-height: 100vh;

    article {
      margin-bottom: 0;
      padding-bottom: 2em;
    }
  }

  .post-navigation {
    @include span-columns(8 of 8);
    margin-top: .8em;
    margin-bottom: .4em;
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;

    .nav-links {
      font-size: .8em;

      &:hover {
        color: $action-color;
      }

      &> div {
        @include span-columns(4 of 8);

        &:nth-child(2){
          text-align: right;
        }
      }

      .nav-previous {
        margin-bottom: .75em;
        &::before {
          content: "\f100";
          font-family: FontAwesome;
        }
      }

      .nav-next{
        &::after {
          content: "\f101";
          font-family: FontAwesome;
        }
      }
    }
  }
}
// END .single-post

// JETPACK
.sharedaddy {
  padding-top: .5em;

  .sd-title {
    font-weight: 400 !important;

    &::before {
      border-top: 0 solid #ddd !important;
      display: inline !important;
      font-family: FontAwesome;
      content: "\f1e0" !important;
      padding-right: .5em;
    }
  }
}
