// Culinaria Feeds (./bot)

.widget.culinaria-widget-area { // wordpress generated classes

  // reset font-size
  section, article, div, p, span, a, h2 {
    font-size: 1em !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: $base-font-color !important;
    font-family: $sans-serif;
  }

  display: flex;
  flex-direction: column;

  .grid.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em !important;
  }

  .grid-box-wrap {
    width: 100%;

    @include media($landscape) {
      width: 33%;
    }
  }

  .grid-box {
    display: flex;
    flex-direction: column;

    &>a{
      .image-container {
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin: 0 auto;
      }
    }

    &>p{
      text-align: center;

      .feed-site{
        text-transform: uppercase;
        font-size: .9em !important;
      }

      .feed-caption {
        font-size: .85em !important;
      }
    }
  }

}
